
.ui-selectonemenu .ui-selectonemenu-trigger{
	width: auto;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li a {
	line-height: 18px;
	padding-bottom: 8px;
	padding-top: 8px;
	color: mediumseagreen;
	font-weight: normal;
	border: 0px none;
}

.ui-tabs .ui-tabs-panel {
	color: mediumseagreen !important;
}

.ui-panel-titlebar {
	background-color: #f6f6f6;
	border: none;
	border-radius: 0;
}

.ui-panel {
	width: 170px !important;
	height: 100px !important;
	margin-bottom: 20px;
	border: 1px solid mediumseagreen;
	border-radius: 0;
}

.ui-widget-header {
	background: mediumseagreen;
	font-weight: normal;
	height: auto !important;
}

.ui-widget-content {
	background: #f2f2f2;
	border: none;
	color: mediumseagreen;
}

.ui-corner-all {
	border-radius: 0 !important;
}

.noLine{
	text-decoration: blink !important;
	color: mediumseagreen !important;
}

.ui-panel-content {
	margin: 0;
	padding: 0.5em 0em !important;
	font-size: 12px;
}

.ui-panel-title {
	color: white;
	max-width: 100%;
}

.margintop20{
	margin-top: 50px;
}

p {
	margin: 10px 0 0 0 !important;
}

@media ( min-width :930px) {
	.img-logo {
		width: 370px;
		margin: 5px 0 5px 0;
	}
}
@media ( max-width : 600px) {
	.img-logo {
		margin: 5px 0 5px 0;
		width: 200px;
	}
}
