::-webkit-scrollbar {
	width: 12px;
	height: 12px;   
}

::-webkit-scrollbar-track {
	background-color: #eee;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	-webkit-box-shadow: none;
	background-color: #f0ad4e;
	border-radius: 40px;
}

.ui-datatable-scrollable-body::-webkit-scrollbar-thumb {
	border-radius: 0;
	-webkit-box-shadow: none;
	background-color: #f0ad4e;
	border-radius: 40px;
}

.ui-datatable-scrollable-body::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

body {
    width: 100%;
    height: 100%;
    font-family: Hevetica, 'Lato', sans-serif;
    font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    line-height: 1.6em;
}

p.lead {
    font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand {
    height: 40px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 1em;
}

.navbar-brand h1 {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: rgba(255, 255, 255, .4);
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-custom ul.nav li a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 25px;
}

.navbar-custom.top-nav-collapse ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
    border-radius: 0;
}

.navbar-custom ul.nav ul.dropdown-menu li {
    border-bottom: 1px solid #f4f4f4;
}

.navbar-custom ul.nav ul.dropdown-menu li:last-child {
    border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
    padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
    background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
    color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus,.navbar-custom .nav li.active
{
    outline: 0;
    background-color: rgba(255, 255, 255, .2);
}

.navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus,.navbar-custom .nav li.active
{
    outline: 0;
    background-color: rgba(255, 255, 255, .2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,.navbar-toggle:active {
    outline: 0;
}

/* loader */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

#loaderInner {
    background: #ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes shadowSpin { 0%{
                            box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
                        }

                        25%{
                            box-shadow












                            :













                                10
                                px













                                10
                                px













                                #39CCCC
                                ,
                                -10
                                px













                                -10
                                px













                                #FFDC00












                                ;
                        }
                        50%{
                            box-shadow












                            :













                                -10
                                px













                                10
                                px













                                #39CCCC
                                ,
                                10
                                px













                                -10
                                px













                                #FFDC00












                                ;
                        }
                        75%{
                            box-shadow












                            :













                                -10
                                px













                                -10
                                px













                                #39CCCC
                                ,
                                10
                                px













                                10
                                px













                                #FFDC00












                                ;
                        }
                        100%{
                            box-shadow












                            :













                                10
                                px













                                -10
                                px













                                #39CCCC
                                ,
                                -10
                                px













                                10
                                px













                                #FFDC00












                                ;
                        }
}
#load {
    z-index: 9999;
    background-color: #FF4136;
    opacity: 0.75;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin: -5px auto 0 auto;
    left: 0;
    right: 0;
    border-radius: 0px;
    border: 5px solid #FF4136;
    box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
    animation: shadowSpin 1s ease-in-out infinite;
}

/* misc */
hr {
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

/* margins */
.marginbot-0 {
    margin-bottom: 0 !important;
}

.marginbot-10 {
    margin-bottom: 10px !important;
}

.marginbot-20 {
    margin-bottom: 20px !important;
}

.marginbot-30 {
    margin-bottom: 30px !important;
}

.marginbot-40 {
    margin-bottom: 40px !important;
}

.marginbot-50 {
    margin-bottom: 50px !important;
}

.margintop-0 {
    margin-top: 0 !important;
}

.margintop-10 {
    margin-top: 10px !important;
}

.margintop-20 {
    margin-top: 20px !important;
}

.margintop-30 {
    margin-top: 30px !important;
}

/* ===========================
--- General sections
============================ */
.home-section {
    padding-top: 100px;
    padding-bottom: 90px;
    display: block;
    position: relative;
    z-index: 120;
}

.section-heading h2 {
    font-size: 35px;
}

.section-heading i {
    margin-bottom: 20px;
}

/* --- section bg var --- */
.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f4f4f4;
}

.bg-dark {
    background: #575757;
}

/* --- section color var --- */
.text-light {
    color: #fff;
}

/* ===========================
--- Intro
============================ */
.intro {
    width: 100%;
    position: relative;
    background: url(/resources/img/home/home.jpg) no-repeat center center;
    background-size: 100%;
    background-color: #2c347f;
}

#intro.intro {
    padding: 20% 0 0 0;
}

.intro .slogan {
    margin-top: 0%;
    text-align: center;
}

.intro .page-scroll {
    text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
    color: #FFF;
    text-shadow: none;
    font-size: 40px;
    line-height: 1px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #2c347f;
    border-style: none;
    text-shadow: -1px 0 1px #2c347f;
}

.intro .slogan h4 {
    color: #fff;
}

/* ===========================
--- About
============================ */
.boxed-grey {
    background: #f4f4f4;
    padding: 20px;
}

.team h5 {
    margin-bottom: 10px;
}

.team p.subtitle {
    margin-bottom: 10px;
}

.avatar {
    margin-bottom: 20px;
}

.team-social {
    margin-left: 0;
    padding-left: 0;
}

.team-social {
    text-align: center;
}

.team-social li {
    display: inline-block;
    margin: 0 !important;
    padding: 0;
}

.team-social a {
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.team-social a i {
    text-align: center;
    margin: 0;
    padding: 0;
}

.team-social .social-facebook a {
    background: #3873ae;
}

.team-social .social-twitter a {
    background: #62c6f8;
}

.team-social .social-dribble a {
    background: #d74980;
}

.team-social .social-deviantart a {
    background: #8da356;
}

.team-social .social-google a {
    background: #2c347f;
}

.team-social .social-vimeo a {
    background: #51a6d3;
}

.team-social .social-facebook a:hover {
    background: #4893ce;
}

.team-social .social-twitter a:hover {
    background: #82e6ff;
}

.team-social .social-dribble a:hover {
    background: #f769a0;
}

.team-social .social-deviantart a:hover {
    background: #adc376;
}

.team-social .social-google a:hover {
    background: #333;
}

.team-social .social-vimeo a:hover {
    background: #71c6f3;
}

/* ===========================
--- Services
============================ */
.service-icon {
    margin-bottom: 20px;
}

.service-box {
    border: 1px solid #2c347f;
    margin-bottom: 10px;
}

/* ===========================
--- Contact
============================ */
form#contact-form .form-group label {
    text-align: left !important;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

form#contact-form input,form#contact-form select,form#contact-form textarea
{
    border-radius: 0;
    border: 1px solid #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus
{
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.input-group-addon {
    background-color: #fefefe;
    border: 1px solid #eee;
    border-radius: 0;
}

.widget-contact {
    text-align: left;
}

.company-social {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}

.company-social {
    text-align: left;
}

.company-social li {
    display: inline-block;
    margin: 0 !important;
    padding: 0;
}

.company-social a {
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.company-social a i {
    text-align: center;
    margin: 0;
    padding: 0;
}

.company-social .social-facebook a {
    background: #3873ae;
}

.company-social .social-twitter a {
    background: #62c6f8;
}

.company-social .social-dribble a {
    background: #d74980;
}

.company-social .social-deviantart a {
    background: #8da356;
}

.company-social .social-google a {
    background: #2c347f;
}

.company-social .social-vimeo a {
    background: #51a6d3;
}

.company-social .social-facebook a:hover {
    background: #4893ce;
}

.company-social .social-twitter a:hover {
    background: #82e6ff;
}

.company-social .social-dribble a:hover {
    background: #f769a0;
}

.company-social .social-deviantart a:hover {
    background: #adc376;
}

.company-social .social-google a:hover {
    background: #333;
}

.company-social .social-vimeo a:hover {
    background: #71c6f3;
}

/* ===========================
--- Footer
============================ */
footer {
    text-align: center;
    padding: 50px 0;
}

footer p {
    color: #f8f8f8;
}

/* ==========================
Parallax
============================= */
#parallax1 {
    background-image: url(../img/parallax/1.jpg);
}

#parallax1:after {
    background-image:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.7;
    z-index: -1;
}

#parallax2 {
    background-image: url(../img/parallax/2.jpg);
}

#parallax2:after {
    background-image:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.7;
    z-index: -1;
}

/* ===========================
--- Elements
============================ */
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-oval {
    margin: 90px 0 15px 0;
    padding: 10px 25px;
    border-radius: 20px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    font-weight: normal;
}

.btn-oval:hover {
    color: #2c347f;
    background: #fff;
}

.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}

.btn-circle:hover,.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.btn-circle.btn-dark :hover,.btn-circle.btn-dark :focus {
    outline: 0;
    color: #999;
    background: #fff;
}

.btn-circle.btn-dark :hover i,.btn-circle.btn-dark :focus i {
    color: #999;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-moz-keyframes pulse { 0 {
                            -moz-transform: scale(1);
                            transform: scale(1);
                        }

                        50%
                        {
                            -moz-transform












                            :













                                scale












                                (1
                                .2












                                );
                            transform












                            :













                                scale












                                (1
                                .2












                                );
                        }
                        100%
                        {
                            -moz-transform












                            :













                                scale












                                (1);
                            transform












                            :













                                scale












                                (1);
                        }
}
#text {
    color: #fff;
    background: #ffcc00;
}

#map {
    height: 500px;
}

.btn-skin:hover,.btn-skin:focus,.btn-skin:active,.btn-skin.active {
    color: #2c347f;
    background-color: transparent;
    border-color: #2c347f;
}

.btn-default:hover,.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #2c347f;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

/*  My style  */
.color-green {
    color: #2c347f;
}

/* Media queries */
@media ( min-width :767px) {
    .navbar {
        padding: 32px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: #2c347f;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: #2c347f;
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        box-shadow: 1px 5px 13px rgba(0, 0, 0, 0.3);
    }
    .intro {
        height: 100%;
        padding: 0;
    }
    .brand-heading {
        font-size: 100px;
    }
    .intro-text {
        font-size: 25px;
    }
}

@media ( max-width :768px) {
    .team.boxed-grey {
        margin-bottom: 30px;
    }
    .boxed-grey {
        margin-bottom: 30px;
    }
    .txt-slogan {
        font-size: 35px !important;
    }
}

@media ( max-width :900px) {
    .btn-oval {
        margin: 0px 0 15px 0;
        padding: 10px 15px;
    }
}

@media ( max-width :610px) {
    .btn-oval {
        margin: -70px 0 0 0;
        padding: 5px 7px;
        border-radius: 20px;
        font-size: 9px;
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        font-weight: bold;
    }
}

@media ( max-width :480px) {
    .navbar-custom .nav.navbar-nav {
        background-color: rgba(255, 255, 255, .4);
    }
    .navbar.navbar-custom.navbar-fixed-top {
        margin-bottom: 30px;
    }
    .txt-slogan {
        font-size: 20px !important;
    }
    .tp-banner-container {
        padding-top: 40px;
    }
    .page-scroll a.btn-circle {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        padding: 7px 0;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 20px;
    }
}

/* ================================
margin, padding
================================= */
.mar-top-menos30 {
    margin-top: -30px !important;
}

.mar-top-menos10 {
    margin-top: -10px !important;
}

.mar-top0 {
    margin-top: 0 !important;
}

.mar-top10 {
    margin-top: 10px !important;
}

.mar-top5 {
    margin-top: 5px !important;
}

.mar-top20 {
    margin-top: 20px !important;
}

.mar-top30 {
    margin-top: 30px !important;
}

.mar-top40 {
    margin-top: 40px !important;
}

.mar-top50 {
    margin-top: 50px !important;
}

.mar-top60 {
    margin-top: 60px !important;
}

.mar-top90 {
    margin-top: 90px !important;
}

.mar-bot0 {
    margin-bottom: 0 !important;
}

.mar-bot10 {
    margin-bottom: 10px !important;
}

.mar-bot20 {
    margin-bottom: 20px !important;
}

.mar-bot30 {
    margin-bottom: 30px !important;
}

.mar-left-menos10 {
    margin-left: -10px !important;
}

.mar-left10 {
    margin-left: 10px !important;
}

.mar-left20 {
    margin-left: 20px !important;
}

.mar-left25 {
    margin-left: 25px !important;
}

.mar-right5 {
    margin-right: 5px !important;
}

.mar-right20 {
    margin-right: 20px !important;
}

.mar-0 {
    margin: 0 !important;
}

.mar-padd-0 {
    margin: 0 !important;
    padding: 0;
}

.padd-0 {
    padding: 0 !important;
}

.padd-top0 {
    padding-top: 0 !important;
}

.padd-top10 {
    padding-top: 10px !important;
}

.padd-top20 {
    padding-top: 20px !important;
}

.padd-top30 {
    padding-top: 30px !important;
}

.padd-top40 {
    padding-top: 40px !important;
}

.padd-top50 {
    padding-top: 50px !important;
}

.padd-top60 {
    padding-top: 60px !important;
}

.padd-bott10 {
    padding-bottom: 10px !important;
}

.padd-bott20 {
    padding-bottom: 20px !important;
}

.padd-bott30 {
    padding-bottom: 30px !important;
}

.padd-rigth15 {
    padding-right: 15px !important;
}

/* ================================
Primefaces, others
================================= */
.ui-growl {
    top: 15%;
    right: 0;
    z-index: 99999999999;
    opacity: 1;
    font-weight: normal;
    box-shadow: none !important;
}

.ui-growl-item-container {
    background: #f0ad4e !important;
    text-shadow: none;
    border: none;
    font-size: 13px;
    position: absolute;
    z-index: 99999999999;
    font-weight: normal;
    box-shadow: none;
}

.ui-growl-message {
    padding: 7px 0 0px 10px;
    width: 220px;
    font-weight: normal;
    float: right;
    box-shadow: none;
}

.seta-direita:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 3px 0;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid green;
    height: 0;
}

.ui-accordion .ui-accordion-header.ui-state-default {
    margin-bottom: 2px;
    border: none;
    background-color: #f4f4f4;
    color: gray;
    padding: 10px 0;
}

.ui-blockui-content {
    background-color: black;
    border: none;
    border-style: none;
    z-index: 999999999999999999
}

.ui-blockui {
    background-color: #2c347f;
    opacity: 0.5;
    z-index: 999999999999999999
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    width: 25px;
    background: #f4f4f4;
}

.ui-chkbox .ui-chkbox-box {
    width: 18px;
    height: 18px;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #2c347f;
    background: transparent;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
{
    background: #2c347f;
    border-radius: 0;
}

.ui-inputfield.ui-state-error,.ui-widget-header .ui-inputfield.ui-state-error,.ui-widget-content .ui-inputfield.ui-state-error
{
    border: 1px solid red;
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error
{
    border: 1px solid red;
    color: red;
}

.ui-inputfield {
    padding: 5px;
    width: 100%;
}

.ui-tabs.ui-tabs-top {
    border-bottom: none;
}

.link-blue-claro {
    color: blue !important;
}

.link-blue-claro:hover {
    color: darkblue !important;
    text-decoration: underline;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li a {
    color: #2c347f;
    font-weight: normal;
    border: 0px none;
    text-shadow: none;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-hover {
    background: #e8e8e8;
}
.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header {
    margin-bottom: 20px;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active {
    margin-bottom: -1px;
    background: #f4f4f4;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active {
    border-color: #DDDDDD #DDDDDD transparent #DDDDDD;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
}

/*.banner-acomodacao{
    max-height: 473px;   
}*/

.banner-sentra-front{
    padding: 35px;
    max-height: 473px;
    margin-left: 23%;
}

.img-responsive{
    width: auto;
}

.img-service{
    width: 100%;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;   
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: none;
}

.invalid-field{
    border: 1px solid firebrick !important  ;
}