<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition>
        <section id="featured">
            <!-- start slider -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="margin-top: -20px">
                        <!-- Slider -->
                        <div id="main-slider" class="flexslider">
                            <ul class="slides">
                                <li><img src="resources/img/slides/b1.jpeg" alt="" />
                                    <div class="flex-caption">
                                        <h3>#{i18n.Analise}</h3>
                                        <p>#{i18n.AnaliseTexto}. </p>
                                    </div></li>
                                <li><img src="resources/img/slides/asset.jpg" alt="" />
                                    <div class="flex-caption">
                                        <h3>#{i18n.Nascimento}</h3>
                                        <p>#{i18n.NascimentoTexto}.</p>
                                    </div></li>
                                <li><img src="resources/img/slides/b6.jpg" alt="" />
                                    <div class="flex-caption">
                                        <h3>#{i18n.Gestao}</h3>
                                        <p>#{i18n.gestaoTexto}.</p>
                                    </div></li>
                            </ul>
                        </div>
                        <!-- end slider -->
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <!-- Portfolio Projects -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <section id="projects">
                                <ul id="thumbs" class="portfolio">

                                    <!-- Item Project and Filter Name -->
                                    <li class="item-thumbs col-lg-3 photography" data-id="id-2"
                                        data-type="illustrator">
                                        <!-- Fancybox - Gallery Enabled - Title - Full Image --> <a
                                            class="hover-wrap fancybox" data-fancybox-group="gallery"
                                            title="Cotas Diárias"
                                            href="resources/img/works/home4.jpg"> <span
                                                class="overlay-img"></span> <span
                                                class="overlay-img-thumb font-icon-plus"></span>
                                        </a> <!-- Thumb Image and Description --> <img
                                            src="resources/img/works/home4x.jpg"
                                            alt="Área diariamente atualizada com relatórios das cotas dos Fundos." />
                                        <div class="box-bottom">
                                            <a href="/restrict/view/cotas/cotasDiarias.xhtml" title="Clique para ver detalhes" >Cotas Diárias</a>
                                        </div>
                                    </li>
                                    <!-- End Item Project -->
                                    <!-- Item Project and Filter Name -->
                                    <li class="col-lg-3 item-thumbs design" data-id="id-0"
                                        data-type="web">
                                        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                        <a class="hover-wrap fancybox" data-fancybox-group="gallery"
                                           title="Conquest FIP" href="resources/img/works/home1.jpg">
                                            <span class="overlay-img"></span> 
                                            <span class="overlay-img-thumb font-icon-plus"></span>
                                        </a> <!-- Thumb Image and Description --> 
                                        <img	
                                            src="resources/img/works/home1x.jpg"
                                            alt="Participação direta na gestão das Empresas detidas pelo Fundo, forte investimento nas marcas adquiridas, foco constante no corte de custos." />
                                        <div class="box-bottom">
                                            <a href="/restrict/view/fundos/conquest.xhtml" title="Clique para ver detalhes">Conquest FIP</a>
                                        </div>
                                    </li>

                                    <!-- End Item Project -->
                                    <!-- Item Project and Filter Name -->
                                    <li class="item-thumbs col-lg-3 design" data-id="id-1"
                                        data-type="icon">
                                        <!-- Fancybox - Gallery Enabled - Title - Full Image --> <a
                                            class="hover-wrap fancybox" data-fancybox-group="gallery"
                                            href="resources/img/works/home2.jpg"> <span
                                                class="overlay-img"></span> <span
                                                class="overlay-img-thumb font-icon-plus"></span>
                                        </a> <!-- Thumb Image and Description --> <img
                                            src="resources/img/works/home2x.jpg" />
                                        <div class="box-bottom">
                                            <a href="/restrict/view/fundos/aquillafii.xhtml" title="Clique para ver detalhes">Áquilla FII</a>
                                        </div>
                                    </li>
                                    <!-- End Item Project -->
                                    <!-- Item Project and Filter Name -->
                                    <li class="item-thumbs col-lg-3 photography" data-id="id-2"
                                        data-type="illustrator">
                                        <!-- Fancybox - Gallery Enabled - Title - Full Image --> <a
                                            class="hover-wrap fancybox" data-fancybox-group="gallery"
                                            title="Áquilla GS Absoluto"
                                            href="resources/img/works/home3.jpg"> <span
                                                class="overlay-img"></span> <span
                                                class="overlay-img-thumb font-icon-plus"></span>
                                        </a> <!-- Thumb Image and Description --> <img 
                                            src="resources/img/works/home3x.jpg"
                                            alt="Temos como objetivos obter retornos superiores ao CDI, através de uma gestão ativa agressiva, com rigoroso controle de risco, baixa correlação aos movimentos específicos de mercado, diversificando o investimentos." />
                                        <div class="box-bottom">
                                            <a href="" title="Clique para ver detalhes">GS Allocation Absoluto</a>
                                        </div>
                                    </li>
                                    <!-- End Item Project -->
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ui:composition>
</html>

