<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-1">
					<div class="widget">
						<h5 class="widgetheading">
							<a href="/index.xhtml">Home</a>
						</h5>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="widget">
						<aside class="right-sidebar">
						<h5 class="widgetheading">#{i18n.quemSomos}</h5>
						<ul class="link-list">
							<li><a href="/quemSomos.xhtml#estrategia">#{i18n.Estrategia}</a></li>
							<li><a href="/quemSomos.xhtml#historico">#{i18n.Historico}</a></li>
							<li><a href="/quemSomos.xhtml#parceiros">#{i18n.Parceiros}</a></li>
						</ul>
						</aside>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="widget">
						<aside class="right-sidebar">
						<h5 class="widgetheading">#{i18n.fundos}</h5>
						<ul class="link-list">
							<li><a href="/restrict/view/fundos/fia.xhtml">#{i18n.fia}</a></li>
							<li><a href="/restrict/view/fundos/fic.xhtml">#{i18n.fic}</a></li>
							<li><a href="/restrict/view/fundos/fii.xhtml">#{i18n.fii}</a></li>
							<li><a href="/restrict/view/fundos/fim.xhtml">#{i18n.fim}</a></li>
							<li><a href="/restrict/view/fundos/fip.xhtml">#{i18n.fip}</a></li>
						</ul>
						</aside>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="widget">
						<aside class="right-sidebar">
						<h5 class="widgetheading">#{i18n.gestaoDePatrimonio}</h5>
						<ul class="link-list">
							<li>#{i18n.Servicos}</li>
							<li>#{i18n.familyOffice}</li>
						</ul>
						</aside>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="widget">
						<aside class="right-sidebar">
						<h5 class="widgetheading">
							<a href="/contact.xhtml">#{i18n.Contato}</a>
						</h5>
						<address>
							Avenida das Américas, 4200 - Bloco 1 – Gr. 505
							<p />
							Barra da Tijuca – Rio de Janeiro – RJ
							<p />
							CEP 22640–102
						</address>
						<p>
							<i class="icon-phone"></i>+55 (21) 2240-3636 <br /> <i
								class="icon-envelope-alt"></i> contato@aquillaasset.com.br
						</p>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<div id="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright">
							<p>
								<span>&copy; 2014 - Áquilla Asset Management - All right
									reserved</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</footer>
	<div class="container" style="margin-top: 10px;">
		<div class="row" style="margin-bottom: -20px">
			<div class="col-lg-12">
				<div class="floatLeft">
					<img class="image" src="/resources/img/ambima.png" />
				</div>
				<div class="floatLeft">
					<img class="image" src="/resources/img/cetip.jpg" />
				</div>
			</div>
		</div>
	</div>
</ui:composition>
</html>