<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<div id="wrapper">
		<!-- start header -->
		<header id="header">

			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="icon-bar"></span> <span class="icon-bar"></span><span
								class="icon-bar"></span>
						</button>
						<a href="/"><img src="/resources/img/logo.png" /></a>
					</div>
					<div class="top-bar class align-right-top">
						<h:form>
							<a href="/areaRestrita.xhtml" target="_blank" class="noLine"
								style="color: gray; font-size: 11px; margin-top: 2px; margin-right: 20px">
								<p:graphicImage style="margin-right: 3px"
									value="/resources/img/chave.png" width="18px" /> Área restrita
							</a>
							<h:commandLink action="#{i18nController.setPortugues()}"
								style="margin-right: 10px">
								<p:graphicImage value="/resources/img/i18n/br.gif" width="25px"
									title="Português">
								</p:graphicImage>
							</h:commandLink>
							<h:commandLink action="#{i18nController.setPortugues()}">
								<p:graphicImage value="/resources/img/i18n/usa.gif" width="25px"
									title="English">
								</p:graphicImage>
							</h:commandLink>
						</h:form>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li id="home"><a href="/index.xhtml">Home</a></li>

							<li><a href="/quemSomos.xhtml">Quem somos</a></li>

							<li class="dropdown"><a href="#" class="dropdown-toggle "
								data-toggle="dropdown" data-hover="dropdown" data-delay="0"
								data-close-others="false">#{i18n.fundos}<i
									class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="/restrict/view/fundos/fia.xhtml">#{i18n.fia}</a></li>
									<li><a href="/restrict/view/fundos/fic.xhtml">#{i18n.fic}</a></li>
									<li><a href="/restrict/view/fundos/fii.xhtml">#{i18n.fii}</a></li>
									<li><a href="/restrict/view/fundos/fim.xhtml">#{i18n.fim}</a></li>
									<li><a href="/restrict/view/fundos/fip.xhtml">#{i18n.fip}</a></li>

								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" data-hover="dropdown" data-delay="0"
								data-close-others="false">#{i18n.gestaoDePatrimonio}<b
									class=" fa fa-angle-down"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">#{i18n.Servicos}</a></li>
									<li><a href="#">#{i18n.familyOffice}</a></li>
								</ul></li>
							<li><a href="/contact.xhtml">#{i18n.Contato}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
	</div>
	<!-- end header -->
</ui:composition>
</html>
