<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>System Áquilla Asset</title>

	<link href="/resources/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/resources/css/fancybox/jquery.fancybox.css"
		rel="stylesheet" />
	<link href="/resources/css/flexslider.css" rel="stylesheet" />
	<link href="/resources/css/style.css" rel="stylesheet" />

	<link href="/resources/css/funds_left_menu.css" rel="stylesheet" />


	<!-- Theme skin -->
	<link href="/resources/skins/default.css" rel="stylesheet" />

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</h:head>

<h:body id="body">
	<f:view locale="#{i18nController.locale}"
		contentType="text/html; charset=UTF-8" encoding="UTF-8">

		<ui:fragment>
			<ui:insert name="menu">
				<ui:include src="smenu.xhtml" />
			</ui:insert>

			<ui:insert name="content">
				<ui:include src="scontent.xhtml" />
			</ui:insert>
			<a href="#" class="scrollup" title="Voltar ao topo"><i
				class="fa fa-angle-up active"></i></a>
			<ui:insert name="footer">
				<ui:include src="sfooter.xhtml" />
			</ui:insert>
		</ui:fragment>
	</f:view>

	
	<script src="/resources/js/jquery.js"></script>
	<script src="/resources/js/jquery.easing.1.3.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
	<script src="/resources/js/jquery.fancybox.pack.js"></script>
	<script src="/resources/js/jquery.fancybox-media.js"></script>
	<script src="/resources/js/google-code-prettify/prettify.js"></script>
	<script src="/resources/js/portfolio/jquery.quicksand.js"></script>
	<script src="/resources/js/portfolio/setting.js"></script>
	<script src="/resources/js/jquery.flexslider.js"></script>
	<script src="/resources/js/animate.js"></script>
	<script src="/resources/js/custom.js"></script>

</h:body>
</html>