<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<footer>
	<div align="center" style="margin-top: -35px">
		<span>&copy; 2014 - Áquilla Asset Management - All right
			reserved</span>
	</div>
	</footer>
</ui:composition>
</html>