<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<div id="wrapper">
		<!-- start header -->
		<header id="header">
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="icon-bar"></span> <span class="icon-bar"></span><span
								class="icon-bar"></span>
						</button>
						<a href="/restrict/view/system/home.xhtml"><img
							src="/resources/img/logo.png" /></a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li id="home"><a href="/restrict/view/system/home.xhtml">Home</a></li>

							<li class="dropdown"><a href="#" class="dropdown-toggle "
								data-toggle="dropdown" data-hover="dropdown" data-delay="0"
								data-close-others="false">Cadastros<i
									class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="/restrict/view/fundos/fia.xhtml">Usuário</a></li>
									<li><a href="/restrict/view/fundos/fic.xhtml">Cliente</a></li>
									<li><a href="/restrict/view/fundos/fii.xhtml">Empresa</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" data-hover="dropdown" data-delay="0"
								data-close-others="false">#{i18n.gestaoDePatrimonio}<b
									class=" fa fa-angle-down"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#">#{i18n.Servicos}</a></li>
									<li><a href="#">#{i18n.familyOffice}</a></li>
								</ul></li>
							<li><a href="/contact.xhtml">#{i18n.Contato}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section id="inner-headline">
			<h:form>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumb">
								<li><a href="/index.xhtml"><i class="fa fa-home"></i></a><i
									class="icon-angle-right"></i></li>
								<li class="active">#{i18n.Contato}</li>
							</ul>
							<div>
								<ul class="breadcrumb" style="float: right;">
									<li><ui:fragment>
											<h:outputLink value="#" id="user">
											#{userLogged.user.name} #{userLogged.user.lastname} 
	                                    </h:outputLink>
											<i class="fa fa-angle-down" />
										</ui:fragment></li>
									<p:overlayPanel for="user">
											<p />
											<a href="#" class="noLine">Meus dados</a>
											<hr style="margin: 0; padding: 5px 0 5px 0; "/>
											<a href="#" class="noLine">Alterar senha</a>
											<hr style="margin: 0; padding: 5px 0 5px 0; "/>
											<center>
											<h:commandButton value="Sair" style="width: 100px" action="#{loginController.goOut()}"
												styleClass="btn btn-danger" />
											</center>
									</p:overlayPanel>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</h:form>
		</section>
	</div>
	<!-- end header -->
</ui:composition>
</html>
