<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Área Restrita - BM Turismo</title>
	<link rel="shortcut icon" href="/resources/images/favicon/ddd.ico" />

	<link href="/resources/css/bootstrap.min.css" rel="stylesheet"
		media="screen" />
	<link href="/resources/css/areaRestrita.css" rel="stylesheet" />
	<link href="/resources/css/style.css" rel="stylesheet" />
	<link href="/resources/color/default.css" rel="stylesheet" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</h:head>

<h:body id="area-restrita" style="font-size: 14px">

	<div class="col-lg-12 margintop20" align="left">
		<h4>
			<a style="color: mediumseagreen;" href="/index.xhtml">Bambusa
				Mitis Turismo</a>
		</h4>
	</div>

	<div class="container">
		<div class="row" style="padding-top: 5%" align="center">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="col-lg-3" title="Webmail" align="center">
					<a class="noLine" target="_blank"
						href="http://webmail.bmturismo.com/"> <p:panel>
							<img class="panel-restrita" src="/resources/img/icon/webmail.png" />
							<p>Webmail</p>
						</p:panel>
					</a>
				</div>
				<div class="col-lg-3" title="Gmail" align="center">
					<a class="noLine" target="_blank" href="http://gmail.com/"> <p:panel>
							<img class="panel-restrita" src="/resources/img/icon/gmail.png" />
							<p>Gmail</p>
						</p:panel>
					</a>
				</div>
				<div class="col-lg-3" title="CPanel" align="center">
					<a class="noLine" target="_blank"
						href="https://108.163.137.73:2083/"> <p:panel>
							<img class="panel-restrita" src="/resources/img/icon/cpanel.png" />
							<p>CPanel</p>
						</p:panel>
					</a>
				</div>
				<div class="col-lg-3" title="Tomcat app" align="center">
					<a class="noLine" target="_blank"
						href="http://108.163.137.73:8666/"> <p:panel>
							<img class="panel-restrita" src="/resources/img/icon/tomcat.png" />
							<p>Tomcat app</p>
						</p:panel>
					</a>
				</div>
				<div class="col-lg-3" title="boleto bancário" align="center">
					<a class="noLine" onclick="PF('dlb').show()" href="#"> <p:panel>
							<img class="panel-restrita" width="120px"
								style="margin-top: 25px"
								src="/resources/img/icon/datagrupo-logo-pqn.png" />
							<p></p>
						</p:panel>
					</a>
				</div>
			</div>
		</div>
		<p:dialog id="dlBoleto" widgetVar="dlb" resizable="false"
			width="800px" header="Emissão de boletos" position="center"
			showEffect="clip" hideEffect="clip">
			<div class="col-lg-10 col-md-offset-1">
				<h:form id="formLogin" styleClass="form-horizontal mar-top10">
					<p:growl id="growl" />
					<div class="form-group">
						<div class="col-md-6">
							<p:inputText placeholder="Nome do Cliente*"
								value="#{boletoController.nomeCliente}"
								styleClass="form-control border-none" required="true"
								requiredMessage="Informe os campos obrigatórios">
							</p:inputText>
						</div>
						<div jsf:id="divCpfCnpj" class="col-md-6">
							<p:inputMask mask="#{boletoController.mask}"
								placeholder="CNPJ / CPF do cliente *"
								value="#{boletoController.cpfCnpj}"
								styleClass="form-control border-none" required="true"
								requiredMessage="Informe os campos obrigatórios">
							</p:inputMask>
							<!-- 							<p:inputMask mask="999.999.999-99" placeholder="CPF do cliente*" -->
							<!-- 								rendered="#{boletoController.cpfOrCnpjBoolean}" -->
							<!-- 								value="#{boletoController.CPF}" -->
							<!-- 								styleClass="form-control border-none" required="true" -->
							<!-- 								requiredMessage="Informe os campos obrigatórios"> -->
							<!-- 							</p:inputMask> -->
							<p:inputSwitch value="#{boletoController.cpfOrCnpjBoolean}"
								style="margin-top: -29px; margin-right: 5px; float: right; font-size: 12px"
								offLabel="CNPJ" onLabel="CPF">
								<p:ajax update="divCpfCnpj" partialSubmit="true" />
							</p:inputSwitch>
						</div>
						<div class="col-md-6 mar-top10">
							<p:inputText id="ndoc" placeholder="Número controle*" pt:min="0"
								styleClass="form-control border-none" maxlength="6"
								type="number" required="true"
								requiredMessage="Informe apenas números"
								value="#{boletoController.nossoNumero}">
							</p:inputText>
						</div>
<!-- 						<div class="col-md-4 mar-top10"> -->
<!-- 							<p:inputText id="qnt" placeholder="Quantidade de boletos *" -->
<!-- 								styleClass="form-control border-none" type="number" -->
<!-- 								maxlength="2" required="true" pt:min="1" -->
<!-- 								requiredMessage="Informe apenas números" -->
<!-- 								value="#{boletoController.quantBoletos}"> -->
<!-- 							</p:inputText> -->
<!-- 						</div> -->
						<div class="col-md-6 mar-top10">
							<p:inputText placeholder="Valor a pagar *"
								value="#{boletoController.valorBoleto}"
								styleClass="form-control border-none" type="double"
								required="true" pt:min="1" pt:maxlength="7"
								requiredMessage="Informe os campos obrigatórios">
							</p:inputText>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-1" align="left">
							<p:commandButton ajax="false" value="Gerar" update="growl @form"
								action="#{boletoController.configBoleto()}"
								styleClass="btn-blue btn-xs capitalize" />
						</div>
					</div>
				</h:form>
			</div>
		</p:dialog>
	</div>
	<div class="col-lg-12">
		<div style="text-align: center; padding-top: 5%">
			<hr style="color: mediumseagreen;" />
			<p style="color: mediumseagreen;">Copyright © 2014 - Bambusa
				Mitis Turismo</p>
		</div>
	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-47654203-2', 'auto');
	  ga('send', 'pageview');
</script>
</h:body>
</html>