<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Marcelo Sardenberg" />
        <meta name="keywords"
              content="turismo, turismo rj, city tour rio, city tour rj, turismo rio de janeiro, passeios rj, passeio rj, transfer rio, transfer, transfer aeroporto, receptivos rj, receptivos, receptive, eventos, by night, city tour, casamentos, show" />
        <meta name="description"
              content="Bambusa Mitis Turismo oferece o melhor no turismo na Cidade Maravilhosa." />
        <!-- 	<meta name="robots" content="index,follow" /> -->

        <title>Refrigeração</title>

        <link rel="shortcut icon" />

        <!-- Bootstrap Core CSS -->
        <link href="/resources/css/bootstrap.min.css" rel="stylesheet"
              type="text/css" />

        <link href="/resources/font-awesome/css/font-awesome.min.css"
              rel="stylesheet" type="text/css" />
        <link href="/resources/css/animate.css" rel="stylesheet" />
        <!-- Squad theme CSS -->
        <link href="/resources/css/style.css" rel="stylesheet" />
        <link href="/resources/color/default.css" rel="stylesheet" />
    </h:head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-custom">

        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#intro"><h1>Refrigeração</h1></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div
                    class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#intro">Home</a></li>
                        <li><a href="#about">Quem Somos</a></li>
                        <li><a href="#acomodacao">Serviços</a></li>
                        <li><a href="#contact">Contato</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Section: intro -->
        <section id="intro" class="intro">
            <div class="col-lg-6 slogan">
                <h2 class="txt-slogan">AR | Máquina | Geladeira</h2>
                <h3 class="txt-slogan" style="color: #fff">
                    <i class="fa fa-whatsapp mar-top30" style="font-size: 1.5em;"/> 
                    (21) 97205-8235
                </h3>
                <div class="page-scroll" title="Clique para solicitar um orçamento.">
                    <h:form>
                        <h:commandLink pt:href="#contact" styleClass="btn btn-oval btn-lg btn-warning" style="margin-top: 50px">
                            Faça seu orçamento
                            <f:ajax execute="@this"/>
                        </h:commandLink>
                    </h:form>
                </div>
            </div>
        </section>
        <!-- /Section: intro -->

        <!-- Section: about -->
        <section id="about" class="home-section text-center">
            <div class="heading-about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="wow bounceInDown" data-wow-delay="0.4s">
                                <div class="section-heading">
                                    <h2>Quem Somos</h2>
                                    <i class="fa fa-2x fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <p:accordionPanel>
                            <p:tab title="Como Atendemos">
                                <div class="col-lg-11 col-lg-offset-1">
                                    <p align="left">Para atendermos a plena satisfação de nossos
                                        clientes, contamos com o comprometimento de profissionais
                                        capacitados em áreas de: Turismo (guias com registro no
                                        Ministério do Turismo), gestão, relações interpessoais,
                                        primeiros socorros, atrativos turísticos do Rio de Janeiro.</p>
                                    <p align="left">Motoristas com habilitação de categoria D e
                                        resolução 168. Van 2014 Mercedes Sprinter legalizada,
                                        acomodação executiva, bancos reclináveis, tela LCD, centro
                                        multimídia. O veículo é equipado com sistema ESP adaptativo que
                                        proporciona uma estabilidade a toda prova, inclusive em
                                        situações de riscos. Uso de combustível S10 num sistema
                                        BLUEFFICIENCY, que reduz a emissão de poluentes, atendendo a
                                        legislação.</p>
                                </div>
                            </p:tab>
                            <p:tab title="Garantias">
                                <div class="col-lg-11 col-lg-offset-1">
                                    <p align="left">Somos levados pelo desejo de fornecer aos
                                        nossos clientes a sua completa satisfação (lazer, descontração,
                                        comodidade, segurança, bem estar, pontualidade, experiencia).</p>
                                    <p align="left">Desempenhamos nosso trabalho de forma ética,
                                        segura, transparente, com responsabilidade social e ambiental.</p>
                                </div>
                            </p:tab>
                        </p:accordionPanel>
                    </div>
                </div>
            </div>
        </section>

        <!-- /Section: acomodacao-->
        <section id="acomodacao" class="home-section text-center"
                 style="padding: 0">
            <div style="height: 50px; background-color: #fff" />
            <div class="col-lg-12" style="padding: 0">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide"
                     data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0"
                            class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style="height: 320px">
                        <div class="item active">
                            <img src="/resources/img/home/06.jpg" alt="banner 1" 
                                 class="img-responsive img-service" />
                            <div class="carousel-caption">Imagem Ilustrativa</div>
                        </div>
                        <div class="item">
                            <img src="/resources/img/home/04.jpg" alt="banner 2" 
                                 class="img-responsive img-service" style="padding: 0 180px"/>
                            <div class="carousel-caption">Imagem Ilustrativa</div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic"
                       role="button" data-slide="prev"> <span style="margin-top: 70%"
                                                           class="fa fa-angle-left fa-3x" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a> <a class="right carousel-control" href="#carousel-example-generic"
                            role="button" data-slide="next"> <span
                            class="fa fa-angle-right fa-3x" aria-hidden="true" style="margin-top: 70%"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="heading-about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="wow bounceInDown" data-wow-delay="0.2s">
                                <div class="section-heading">
                                    <h2 style="margin-top: 50px">Serviços</h2>
                                    <i class="fa fa-2x fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 col-lg-offset-5"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-sm-3 col-md-3">
                                        <div class="wow fadeInLeft" data-wow-delay="0.2s">
                                            <div class="service-box">
                                                <div class="service-desc">
                                                    <h5 class="margintop-30">Limpeza</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                                            <div class="service-box">
                                                <div class="service-desc">
                                                    <h5 class="margintop-30">Manutenção</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                                            <div class="service-box">
                                                <div class="service-desc">
                                                    <h5 class="margintop-30">Balanciamento térmico</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="wow fadeInRight" data-wow-delay="0.2s">
                                            <div class="service-box">
                                                <div class="service-desc">
                                                    <h5 class="margintop-30">Mecânica</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-md-3">
                                        <div class="wow fadeInRight" data-wow-delay="0.2s">
                                            <div class="service-box">
                                                <div class="service-desc">
                                                    <h5 class="margintop-30">Orçamento</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="wow fadeInRight" data-wow-delay="0.2s">
                                            <div class="service-box">
                                                <div class="service-desc">
                                                    <h5 class="margintop-30">Serviço A</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="wow fadeInRight" data-wow-delay="0.2s">
                                            <div class="service-box">
                                                <div class="service-desc">
                                                    <h5 class="margintop-30">Serviço B</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="wow fadeInRight" data-wow-delay="0.2s">
                                            <div class="service-box">
                                                <div class="service-desc">
                                                    <h5 class="margintop-30">Serviço C</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- Section: contact -->
        <section id="contact" class="home-section text-center">
            <div class="heading-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="wow bounceInDown" data-wow-delay="0.4s">
                                <div class="section-heading">
                                    <h2>#{i18n.Contato}</h2>
                                    <i class="fa fa-2x fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="boxed-grey">
                            <h:form id="formContact">
                                <p:growl id="growl" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h:inputText value="#{contactController.name}" maxlength="100"
                                                         class="form-control #{not component.valid ? 'invalid-field' : ''}" 
                                                         id="name" pt:placeholder="Nome *"
                                                         required="true" requiredMessage="Informe os campos obrigatórios" />
                                        </div>
                                        <div class="form-group">
                                            <p:inputMask style="width:100%" mask="+55 (99) 99999999?9"
                                                         placeholder="Telefone *" maxlength="30" id="tel"
                                                         styleClass="form-control #{not component.valid ? 'invalid-field' : ''}"
                                                         required="true" requiredMessage="Informe os campos obrigatórios"
                                                         value="#{contactController.telContato}">
                                            </p:inputMask>
                                        </div>
                                        <div class="form-group">
                                            <h:inputText value="#{contactController.addTo}"
                                                         required="false" requiredMessage="Informe os campos obrigatórios"
                                                         class="form-control #{not component.valid ? 'invalid-field' : ''}" 
                                                         id="email" pt:placeholder="E-mail">
                                                <f:validateRegex
                                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                            </h:inputText>
                                        </div>
                                        <div class="form-group">
                                            <h:inputText value="#{contactController.subject}"
                                                         required="true"
                                                         requiredMessage="Informe os campos obrigatórios"
                                                         class="form-control #{not component.valid ? 'invalid-field' : ''}" 
                                                         id="Assunto" pt:placeholder="Assunto" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <p:inputTextarea value="#{contactController.message}"
                                                             id="message" class="form-control" rows="10" cols="25"
                                                             pt:placeholder="Digite sua mensagem... " />
                                        </div>
                                    </div>
                                    <div class="col-md-4 pull-right">
                                        <p:commandButton id="cbEnviar"
                                                         actionListener="#{contactController.send()}"
                                                         value="#{i18n.Enviar}" onclick="PF('buiHome').show()"
                                                         update="@form growl" process="@form"
                                                         class="btn btn-warning btn-md btn-block"
                                                         style="border-radius: 4px; box-shadow: none; text-shadow: none;">
                                        </p:commandButton>
                                    </div>
                                </div>
                                <p:blockUI block="formContact" trigger="formContact:cbEnviar"
                                           widgetVar="buiHome" id="buiHome">
                                    <img style="margin-right: 10px;"
                                         src="/resources/img/gif/loadblack.gif" width="20px" />
                                    <p style="color: white; float: right; margin: 0">Enviando
                                        e-mail ...</p>
                                </p:blockUI>
                            </h:form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget-contact mar-top30">
                            <h5>Principais contatos</h5>

                            <address style="float: left;">
                                <strong class="color-green">E-mail </strong><br />
                                contato@bmturismo.com<br />
                            </address>
                            <div class="clearfix"/>
                            <br/>
                            <address style="float: left;">
                                <strong class="color-green">Telefones</strong><br />
                                <p />
                                <abbr>
                                    <p><i class="fa fa-2x fa-whatsapp mar-right5" style="color: mediumseagreen"/> <b>(21) 97205-8235</b>
                                        <br />
                                        <i class="fa fa-2x fa-whatsapp mar-right5" style="color: mediumseagreen"/> (21) 96450-7166
                                    </p>
                                </abbr>
                            </address>
                            <div class="clearfix"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="wow shake" data-wow-delay="0.4s">
                            <div class="page-scroll marginbot-30">
                                <a href="#intro" id="totop" class="btn btn-circle"> <i
                                        class="fa fa-angle-double-up animated"></i>
                                </a>
                            </div>
                        </div>
                        <p>&#169; 2017 - Refrigeração - Todos direitos reservados.</p>
                    </div>
                    <div class="col-lg-3"
                         style="float: right; padding-top: 30px; margin-bottom: -30px;">
                        <a href="http://www.datagrupo.com.br" style="text-align: right;" target="_blank"> 
                            <img align="right" style="float: right;"
                                 src="resources/img/icon/logo-dg.png" /> 
                            <i style="float: right; color: white; font-size: 9px; margin: 0; padding-top: 5px; padding-right: 15px;">
                                Desenvolvido por
                            </i>
                        </a>    
                    </div>
                </div>
            </div>
        </footer>

        <!-- Core JavaScript Files -->

        <script src="/resources/js/jquery.min.js"></script>
        <script src="/resources/js/bootstrap.min.js"></script>
        <script src="/resources/js/jquery.easing.min.js"></script>
        <script src="/resources/js/jquery.scrollTo.js"></script>
        <script src="/resources/js/wow.min.js"></script>
        <script src="/resources/js/custom.js"></script>
        <script src="/resources/js/calendar.js"></script>

        <script>
                                                             jQuery.noConflict();
        </script>

    </body>
</html>